
* {
box-sizing:border-box;
padding: 0;
margin: 0;
}

/*navigation bar*/

.navbar ul {

    font-family:Zen Kaku Gothic New, sans-serif ;
    text-align: center;
    font-size: 30px;

    list-style-type: none;

    color: rgb(10, 171, 215);
    padding: 0px;
    margin: 0px; 
    
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    border-radius: 5px;
    padding: 25px 30px 30px 10px;
    color: rgb(19, 140, 173);
    display:block;
   
}

.navbar a:hover{
    color: lightskyblue;
}
/*home page to my portfolio text under welcome*/
.tomyport  {
    color: rgb(0, 82, 141);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(87, 203, 241);
    border-radius: 250px;
    padding: 10px;
    padding-left:20px;
    width: 30%;
    font-size: 2vw;        
    margin-left: 10%;
    margin-top: -2vh;
   

}
/*home page welcome text*/
.welcome {
    font-family:League Gothic ;
   /* responsive font size based on viewport width */
        font-size: 14vw;
        /* percentage instead of fixed px */
        margin-left: 10%;     
        /* responsive vertical spacing */
        margin-top: 15vh;      
        margin-bottom: 0;
    color:rgb(87, 203, 241) ;

}

body {
    font-family:Zen Kaku Gothic New, sans-serif ;
    color: rgb(17, 119, 153);
    padding: 10px;
    background-color: aliceblue;
    margin: auto;
    clear: right;
    margin: 0;         
    padding: 0;
    height: 100%;

}

/*home page background*/
.homebody {
background-image: url(Background/Home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}   
/*projects page background*/
.projectbody {
    background-image: url(Background/Featured\ Work.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*about me page background*/
.aboutbody {
    background-image: url(Background/aboutbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*works page display text*/
.deswork {
    font-size: 3vw;
    padding: 1vw;
    margin-left: 100px;
    font-family: League Gothic;
}

/*design work gallery*/
.mywork {
    margin-left: 50px;
    margin:auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: left;
    gap: 20px;
}


.mywork img {
    width: 25%;   
    height: 25%;
    object-fit: cover;
}

/*home page logo*/
.logo {
    display: block;
    width:30%;
    height: auto;
    float:right;
    margin-right: 10%;
    margin-top: -15vw;
}

/*about me section*/

.aboutme {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    align-items: center;
}

.left {
    grid-column: 1 / 2;
}
.right {
    grid-column: 2 / -1;
}

.aboutme img {
    width: 60vw;
    height: auto;
    padding: 10%; 
    margin: -4vw;
    margin-top: 4vw;
}

.aboutme p {
    margin-left: 7%;
    margin-right: 5%;
    padding-top:1vw;
}

.aboutme h1
{
    font-size: 10vw;
    padding: 3vw;
    font-family: League Gothic;
    letter-spacing: .1vw;
}

.aboutme h2
{
    border: 3px solid rgb(87, 203, 241);
    border-radius: 250px;
    padding: .5vw;
    padding-left: 2vw;
    width: 50%;
    margin-top: -4vh;
    margin-left: 3vw;
}

/*footer*/

footer{
    position: fixed;
    left: 5px;
    bottom: 0;   
    width: 100%;
    color: rgb(0, 82, 141);
    font-size:10px;

}

/* navbar media query */
@media only screen and (max-width: 480px) {
    .navbar ul {
        font-size: 4vw;
        display: block;
   
    }
}

/*--Added by Professor  below--*/
@media (max-width: 600px) {
    .welcome {
        font-size: 12vw;
        margin-left: 5%;
        margin-top: 10vh;
    }

    .logo {
        width: 40%;
        margin-right: 5%;
        margin-top: -12vw;
    }

    .tomyport {
        width: 45%;
        font-size: 4vw;
        margin-left: 5%;
        margin-top: 1vh;
        padding: 5px;
    }

    .aboutme p {
    font-size: 10px;
    margin-left: 7%;
    margin-right: 5%;
    padding-top:1vw;
}

.aboutme h1
{
    font-size: 8vw;
    padding: 3vw;
    font-family: League Gothic;
    letter-spacing: .1vw;
}

.aboutme h2
{
    font-size: 3vw;
    border: 1px solid rgb(87, 203, 241);
    border-radius: 250px;
    padding: .5vw;
    padding-left: 2vw;
    width: 50%;
    margin-top: -1vh;
    margin-left: 3vw;
}

}