
.welcome {
    font-family:League Gothic ;
    font-size:150px;
    color:rgb(87, 203, 241) ;
    margin-left: 100px;
    margin-top: 150px;
    
}

.navbar ul {

 
    font-family:Zen Kaku Gothic New, sans-serif ;
    text-align: center;
    font-size: 30px;

    list-style-type: none;
    color: rgb(10, 171, 215);
    padding: 0px;
    margin: 0px; 
    

    display:flex;
    flex-direction: row;
    justify-content: center;


}

.navbar a{
    text-decoration: none;
    border-radius: 5px;
    padding: 25px 10px 10px 10px;
    color: rgb(10, 171, 215);
    display:block;
   
    
}


.navbar a:hover{
    color: lightskyblue;
}

.aboutme ,.aboutme1, .aboutme2 {
    color: rgb(0, 82, 141);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(87, 203, 241);
    border-radius: 250px;
    padding: 10px;
    width: 20%;
    font-size:20px
   

}

body {
    font-family:Zen Kaku Gothic New, sans-serif ;
    color: rgb(39, 139, 245);
    padding: 10px;
    background-color: aliceblue;
    background-image: url(Background\ Image/Home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




.logo {
    float:right;
    width:  30%;
    height: 30%;
    
}

footer{
    color: rgb(0, 82, 141);
    margin: 20px;
    margin-top: 200px;
    font-size:20px;
}