
header {
    font-family:League Gothic ;
    font-size:80px;
    color:rgb(87, 203, 241) ;
    margin: 50px;
    
}

nav{
    font-family:Zen Kaku Gothic New, sans-serif ;
    color: rgb(10, 171, 215);
    font-size: 30px;

}

a{
    text-decoration: none;
    border-radius: 5px;
    padding: 25px 10px 10px 10p
}

ul{
    list-style-type: none;
}
body {
    font-family:Zen Kaku Gothic New, sans-serif ;
    color: rgb(39, 139, 245);
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    background-image: url(Background\ Image/Home.jpg);
}

.aboutme ,.aboutme1, .aboutme2 {
    color: rgb(39, 139, 245);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(39, 139, 245);
    border-radius: 250px;
    margin: 5px;
    padding: 20px;
    width: 65%;
    font-size:20px

}


.headshot {
    
    border-radius:10% ;
    width: 60%;
    height: 30%;
    display: inline-block;
    margin-bottom: 20px;
}

.logo {
    float:right;
    width:  30%;
    height: 30%;
    
}

footer{
    margin: 20px;
    font-size:20px;
}