


.navbar ul {

 
    font-family:Zen Kaku Gothic New, sans-serif ;
    text-align: center;
    font-size: 30px;

    list-style-type: none;
    color: rgb(10, 171, 215);
    padding: 0px;
    margin: 0px; 
    

    display:flex;
    flex-direction: row;
    justify-content: center;


}

.navbar a{
    text-decoration: none;
    border-radius: 5px;
    padding: 25px 10px 10px 10px;
    color: rgb(10, 171, 215);
    display:block;
   
    
}


.navbar a:hover{
    color: lightskyblue;
}

.tomyport  {
    color: rgb(0, 82, 141);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(87, 203, 241);
    border-radius: 250px;
    padding: 8px;
    width: 30%;
    font-size: 2vw;        
    margin-left: 10%;
    margin-top: -1vh;
   

}

.welcome {
    font-family:League Gothic ;
   /* responsive font size based on viewport width */
        font-size: 14vw;
        /* percentage instead of fixed px */
        margin-left: 10%;     
        /* responsive vertical spacing */
        margin-top: 15vh;      
        margin-bottom: 0;
    color:rgb(87, 203, 241) ;

}

body {
    font-family:Zen Kaku Gothic New, sans-serif ;
    color: rgb(17, 119, 153);
    padding: 10px;
    background-color: aliceblue;
    background-image: url(Background/Home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    clear: right;
    margin: 0;         
    padding: 0;
    height: 100%;
    background-attachment: fixed;
}





.deswork {
    margin-left: 100px;
    font-family: League Gothic;



}

.mywork {
    margin-left: 50px;
    margin:auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: left;
    gap: 20px;


}

.mywork img {
    width: 25%;   
    height: 25%;
    object-fit: cover;

   
}

.logo {
    display: block;
    width:30%;
    height: auto;
    float:right;
    margin-right: 10%;
    margin-top: -8vw;
}

footer{
    color: rgb(0, 82, 141);
    margin: 20px;
    font-size:1.5vw;
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
}